[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/glhelper"]
	path = external/glhelper
	url = git@github.com:Robert42/glhelper.git
[submodule "external/cmake/modules"]
	path = external/cmake/modules
	url = git@github.com:Robert42/cmake-finders.git
